In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://Users/t.shah/Term-1/master/Data/Projects/1000%20movies%20data.csv')

In [3]:
df.dropna(inplace = True)

In [4]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [5]:
df.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [6]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

### how many movie are belong to ACTION Genre

In [18]:
(df['Genre'].str.find('Action')>=0).sum()

277

### Year wise --> Sum( Revenue) --> % changes as compared to last year

In [20]:
revenue_year_wise = df.groupby('Year')['Revenue (Millions)'].sum()

In [21]:
revenue_year_wise

Year
2006     3577.48
2007     4095.26
2008     4681.22
2009     5208.39
2010     5989.65
2011     5341.09
2012     6826.39
2013     7399.11
2014     7945.33
2015     8799.09
2016    11002.09
Name: Revenue (Millions), dtype: float64

In [25]:
rev_df  = revenue_year_wise.to_frame().reset_index()

In [26]:
rev_df

    Year  Revenue (Millions)
0   2006             3577.48
1   2007             4095.26
2   2008             4681.22
3   2009             5208.39
4   2010             5989.65
5   2011             5341.09
6   2012             6826.39
7   2013             7399.11
8   2014             7945.33
9   2015             8799.09
10  2016            11002.09

In [29]:
rev_df.columns = ['Year','Revenue']

In [30]:
rev_df

    Year   Revenue
0   2006   3577.48
1   2007   4095.26
2   2008   4681.22
3   2009   5208.39
4   2010   5989.65
5   2011   5341.09
6   2012   6826.39
7   2013   7399.11
8   2014   7945.33
9   2015   8799.09
10  2016  11002.09

In [27]:
rev_df.shape

(11, 2)

In [32]:
import numpy as np

In [33]:
rev_df['per_change'] = np.nan

In [34]:
rev_df

    Year   Revenue  per_change
0   2006   3577.48         NaN
1   2007   4095.26         NaN
2   2008   4681.22         NaN
3   2009   5208.39         NaN
4   2010   5989.65         NaN
5   2011   5341.09         NaN
6   2012   6826.39         NaN
7   2013   7399.11         NaN
8   2014   7945.33         NaN
9   2015   8799.09         NaN
10  2016  11002.09         NaN

In [36]:
for i in range(0,rev_df.shape[0]-1):
    rev_df.iloc[i+1,2] = ((rev_df.Revenue[i+1]-rev_df.Revenue[i])/rev_df.Revenue[i])*100

In [37]:
rev_df

    Year   Revenue  per_change
0   2006   3577.48         NaN
1   2007   4095.26   14.473316
2   2008   4681.22   14.308249
3   2009   5208.39   11.261381
4   2010   5989.65   15.000029
5   2011   5341.09  -10.828012
6   2012   6826.39   27.808930
7   2013   7399.11    8.389793
8   2014   7945.33    7.382239
9   2015   8799.09   10.745432
10  2016  11002.09   25.036680

### 3.) Analysis on director 
	3.1) Based on Director , how many movie director has completed  till now and what is min and max revenue and what is rating?
	3.2) Director name start with 'Z', what is count of different director whose name start with Z.

In [12]:
df.groupby('Director')['Director'].count()

Director
Aamir Khan                     1
Abdellatif Kechiche            1
Adam McKay                     4
Adam Shankman                  2
Adam Wingard                   2
Akiva Schaffer                 1
Alan Taylor                    2
Albert Hughes                  1
Alejandro Amenábar             1
Alejandro González Iñárritu    3
Alessandro Carloni             1
Alex Garland                   1
Alex Proyas                    1
Alexander Payne                1
Alexandre Aja                  3
Alfonso Cuarón                 2
Alfonso Gomez-Rejon            1
Allen Coulter                  1
Amma Asante                    1
Andrea Arnold                  1
Andrew Dominik                 1
Andrew Jarecki                 1
Andrew Niccol                  2
Andrew Stanton                 2
Andrey Kravchuk                1
Andrés Muschietti              1
Andy Fickman                   1
Andy Goddard                   1
Andy Tennant                   1
Ang Lee                        2
                              ..
Tim Miller                     1
Timur Bekmambetov              2
Todd Haynes                    1
Todd Phillips                  2
Tom Ford                       1
Tom Gormican                   1
Tom Hooper                     3
Tom McCarthy                   1
Tom McGrath                    1
Tom Six                        1
Tom Tykwer                     3
Tomas Alfredson                1
Tony Gilroy                    1
Tony Scott                     1
Travis Knight                  1
Wally Pfister                  1
Walt Dohrn                     1
Werner Herzog                  1
Wes Anderson                   3
Wes Ball                       2
Wes Craven                     1
Whit Stillman                  1
Will Gluck                     3
William Brent Bell             1
Woody Allen                    5
Xavier Dolan                   1
Yimou Zhang                    1
Yorgos Lanthimos               2
Zack Snyder                    5
Zackary Adler                  1
Name: Director, Length: 524, dtype: int64

In [13]:
df.groupby('Director')['Revenue (Millions)'].min()

Director
Aamir Khan                       1.20
Abdellatif Kechiche              2.20
Adam McKay                      70.24
Adam Shankman                   38.51
Adam Wingard                     0.32
Akiva Schaffer                   9.39
Alan Taylor                     89.73
Albert Hughes                   94.82
Alejandro Amenábar               0.05
Alejandro González Iñárritu     34.30
Alessandro Carloni             143.52
Alex Garland                    25.44
Alex Proyas                     31.14
Alexander Payne                 82.62
Alexandre Aja                    0.16
Alfonso Cuarón                  35.29
Alfonso Gomez-Rejon              6.74
Allen Coulter                   19.06
Amma Asante                      3.90
Andrea Arnold                    0.66
Andrew Dominik                   3.90
Andrew Jarecki                   0.58
Andrew Niccol                   26.62
Andrew Stanton                  73.06
Andrey Kravchuk                 23.05
Andrés Muschietti               71.59
Andy Fickman                     2.34
Andy Goddard                     0.00
Andy Tennant                    70.22
Ang Lee                          1.72
                                ...
Tim Miller                     363.02
Timur Bekmambetov               26.38
Todd Haynes                      0.25
Todd Phillips                   43.02
Tom Ford                        10.64
Tom Gormican                    26.05
Tom Hooper                      12.71
Tom McCarthy                    44.99
Tom McGrath                    148.34
Tom Six                          0.18
Tom Tykwer                       2.21
Tomas Alfredson                 24.10
Tony Gilroy                    113.17
Tony Scott                      81.56
Travis Knight                   48.02
Wally Pfister                   23.01
Walt Dohrn                     153.69
Werner Herzog                    5.48
Wes Anderson                    21.00
Wes Ball                        81.69
Wes Craven                      38.18
Whit Stillman                   14.01
Will Gluck                      55.80
William Brent Bell              35.79
Woody Allen                     11.08
Xavier Dolan                     3.49
Yimou Zhang                     45.13
Yorgos Lanthimos                 0.11
Zack Snyder                     36.38
Zackary Adler                    6.53
Name: Revenue (Millions), Length: 524, dtype: float64

In [14]:
df.groupby('Director')['Revenue (Millions)'].max()

Director
Aamir Khan                       1.20
Abdellatif Kechiche              2.20
Adam McKay                     148.21
Adam Shankman                  118.82
Adam Wingard                    20.75
Akiva Schaffer                   9.39
Alan Taylor                    206.36
Albert Hughes                   94.82
Alejandro Amenábar               0.05
Alejandro González Iñárritu    183.64
Alessandro Carloni             143.52
Alex Garland                    25.44
Alex Proyas                     31.14
Alexander Payne                 82.62
Alexandre Aja                   41.78
Alfonso Cuarón                 274.08
Alfonso Gomez-Rejon              6.74
Allen Coulter                   19.06
Amma Asante                      3.90
Andrea Arnold                    0.66
Andrew Dominik                   3.90
Andrew Jarecki                   0.58
Andrew Niccol                   37.55
Andrew Stanton                 486.29
Andrey Kravchuk                 23.05
Andrés Muschietti               71.59
Andy Fickman                     2.34
Andy Goddard                     0.00
Andy Tennant                    70.22
Ang Lee                        124.98
                                ...
Tim Miller                     363.02
Timur Bekmambetov              134.57
Todd Haynes                      0.25
Todd Phillips                  277.31
Tom Ford                        10.64
Tom Gormican                    26.05
Tom Hooper                     148.78
Tom McCarthy                    44.99
Tom McGrath                    148.34
Tom Six                          0.18
Tom Tykwer                      27.10
Tomas Alfredson                 24.10
Tony Gilroy                    113.17
Tony Scott                      81.56
Travis Knight                   48.02
Wally Pfister                   23.01
Walt Dohrn                     153.69
Werner Herzog                    5.48
Wes Anderson                    59.07
Wes Ball                       102.41
Wes Craven                      38.18
Whit Stillman                   14.01
Will Gluck                      85.91
William Brent Bell              35.79
Woody Allen                     56.82
Xavier Dolan                     3.49
Yimou Zhang                     45.13
Yorgos Lanthimos                 8.70
Zack Snyder                    330.25
Zackary Adler                    6.53
Name: Revenue (Millions), Length: 524, dtype: float64

In [15]:
df.groupby('Director')['Rating'].max()

Director
Aamir Khan                     8.5
Abdellatif Kechiche            7.8
Adam McKay                     7.8
Adam Shankman                  6.7
Adam Wingard                   6.7
Akiva Schaffer                 6.7
Alan Taylor                    7.0
Albert Hughes                  6.9
Alejandro Amenábar             5.7
Alejandro González Iñárritu    8.0
Alessandro Carloni             7.2
Alex Garland                   7.7
Alex Proyas                    5.5
Alexander Payne                7.3
Alexandre Aja                  6.5
Alfonso Cuarón                 7.9
Alfonso Gomez-Rejon            7.8
Allen Coulter                  7.2
Amma Asante                    6.8
Andrea Arnold                  7.0
Andrew Dominik                 7.5
Andrew Jarecki                 6.3
Andrew Niccol                  6.7
Andrew Stanton                 7.4
Andrey Kravchuk                4.7
Andrés Muschietti              6.2
Andy Fickman                   6.4
Andy Goddard                   5.2
Andy Tennant                   5.7
Ang Lee                        7.9
                              ...
Tim Miller                     8.0
Timur Bekmambetov              6.7
Todd Haynes                    7.2
Todd Phillips                  7.8
Tom Ford                       7.5
Tom Gormican                   6.2
Tom Hooper                     8.0
Tom McCarthy                   8.1
Tom McGrath                    7.3
Tom Six                        4.4
Tom Tykwer                     7.5
Tomas Alfredson                7.1
Tony Gilroy                    6.7
Tony Scott                     6.8
Travis Knight                  7.9
Wally Pfister                  6.3
Walt Dohrn                     6.5
Werner Herzog                  7.3
Wes Anderson                   8.1
Wes Ball                       6.8
Wes Craven                     6.2
Whit Stillman                  6.5
Will Gluck                     7.1
William Brent Bell             6.0
Woody Allen                    7.7
Xavier Dolan                   8.1
Yimou Zhang                    6.1
Yorgos Lanthimos               7.3
Zack Snyder                    7.7
Zackary Adler                  5.1
Name: Rating, Length: 524, dtype: float64

In [10]:
df['Director'].str.startswith('Z').sum()

6