#                             üç∑ 1. Load Wine Datasets

Citation Request:
  This dataset is public available for research. The details are described in [Cortez et al., 2009]. 
  Please include this citation if you plan to use this database:

  P. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis. 
  Modeling wine preferences by data mining from physicochemical properties.
  In Decision Support Systems, Elsevier, 47(4):547-553. ISSN: 0167-9236.

  Available at: [@Elsevier] http://dx.doi.org/10.1016/j.dss.2009.05.016
                [Pre-press (pdf)] http://www3.dsi.uminho.pt/pcortez/winequality09.pdf
                [bib] http://www3.dsi.uminho.pt/pcortez/dss09.bib

1. Title: Wine Quality 

2. Sources
   Created by: Paulo Cortez (Univ. Minho), Antonio Cerdeira, Fernando Almeida, Telmo Matos and Jose Reis (CVRVV) @ 2009
   
3. Past Usage:

  P. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis. 
  Modeling wine preferences by data mining from physicochemical properties.
  In Decision Support Systems, Elsevier, 47(4):547-553. ISSN: 0167-9236.

  In the above reference, two datasets were created, using red and white wine samples.
  The inputs include objective tests (e.g. PH values) and the output is based on sensory data
  (median of at least 3 evaluations made by wine experts). Each expert graded the wine quality 
  between 0 (very bad) and 10 (very excellent). Several data mining methods were applied to model
  these datasets under a regression approach. The support vector machine model achieved the
  best results. Several metrics were computed: MAD, confusion matrix for a fixed error tolerance (T),
  etc. Also, we plot the relative importances of the input variables (as measured by a sensitivity
  analysis procedure).
 
4. Relevant Information:

   The two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine.
   For more details, consult: http://www.vinhoverde.pt/en/ or the reference [Cortez et al., 2009].
   Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables 
   are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).

   These datasets can be viewed as classification or regression tasks.
   The classes are ordered and not balanced (e.g. there are munch more normal wines than
   excellent or poor ones). Outlier detection algorithms could be used to detect the few excellent
   or poor wines. Also, we are not sure if all input variables are relevant. So
   it could be interesting to test feature selection methods. 

5. Number of Instances: red wine - 1599; white wine - 4898. 

6. Number of Attributes: 11 + output attribute
  
   Note: several of the attributes may be correlated, thus it makes sense to apply some sort of
   feature selection.

7. Attribute information:

   For more information, read [Cortez et al., 2009].

   Input variables (based on physicochemical tests):
   1 - fixed acidity
   2 - volatile acidity
   3 - citric acid
   4 - residual sugar
   5 - chlorides
   6 - free sulfur dioxide
   7 - total sulfur dioxide
   8 - density
   9 - pH
   10 - sulphates
   11 - alcohol
   Output variable (based on sensory data): 
   12 - quality (score between 0 and 10)

8. Missing Attribute Values: None

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [7]:
red_wine   = pd.read_csv('winequality-red.csv',   sep=';')
white_wine = pd.read_csv('winequality-white.csv', sep=';')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
red_wine.head()
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [9]:
red_wine['wine_type'] = 'red'   
white_wine['wine_type'] = 'white'

In [10]:
red_wine.head()
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [13]:
print('red_wine\'s list of "quality":\t', sorted(red_wine['quality'].unique()))
print('white_wine\'s list of "quality":\t', sorted(red_wine['quality'].unique()))

red_wine's list of "quality":	 [3, 4, 5, 6, 7, 8]
white_wine's list of "quality":	 [3, 4, 5, 6, 7, 8]

Bucket quality (numerical) scores into a new (categorical) attribute called quality_label:

        low: value ‚â§ 5
        medium: 5 < value ‚â§ 7
        high: value > 7
        
In addition, we'll convert quality_label into a Categorical data type by using __pd.Categorical().__

In [16]:
red_wine['quality_label'] = red_wine['quality'].apply(lambda value: ('low' if value <= 5 else 'medium') if value <= 7 else 'high')
red_wine['quality_label'] = pd.Categorical(red_wine['quality_label'], categories=['low', 'medium', 'high'])
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type,quality_label
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,low
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,low
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,low
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,medium
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,low

In [17]:
white_wine['quality_label'] = white_wine['quality'].apply(lambda value: ('low' if value <= 5 else 'medium') if value <= 7 else 'high')
white_wine['quality_label'] = pd.Categorical(white_wine['quality_label'], categories=['low', 'medium', 'high'])

In [18]:
# Preview `value_counts()` of the `quality_label` attribute:
red_wine['quality_label'].value_counts()
print()
white_wine['quality_label'].value_counts()

medium    837
low       744
high       18
Name: quality_label, dtype: int64

medium    3078
low       1640
high       180
Name: quality_label, dtype: int64

In [23]:
# merger 
wines = pd.concat([red_wine, white_wine], axis=0,)


# Re-shuffle records just to randomize data points.
# `drop=True`: this resets the index to the default integer index.
wines = wines.sample(frac=1.0, random_state=42).reset_index(drop=True)
wines.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type,quality_label
0,7.0,0.17,0.74,12.8,0.045,24.0,126.0,0.99420,3.26,0.38,12.2,8,white,high
1,7.7,0.64,0.21,2.2,0.077,32.0,133.0,0.99560,3.27,0.45,9.9,5,red,low
2,6.8,0.39,0.34,7.4,0.020,38.0,133.0,0.99212,3.18,0.44,12.0,7,white,medium
3,6.3,0.28,0.47,11.2,0.040,61.0,183.0,0.99592,3.12,0.51,9.5,6,white,medium
4,7.4,0.35,0.20,13.9,0.054,63.0,229.0,0.99888,3.11,0.50,8.9,6,white,medium

In [27]:
wines.shape

(6497, 14)

# Exploratory Data Analysis

## Apply "Descriptive Statistics" using describe() on a subset of attributes:

In [24]:
subset_attributes = ['residual sugar',        #1
                     'total sulfur dioxide',  #2
                     'sulphates',             #3
                     'alcohol',               #4
                     'volatile acidity',      #5
                     'quality']               #6

In [29]:
rs = round(red_wine[subset_attributes].describe(), 2)
rs
ws = round(white_wine[subset_attributes].describe(), 2)
ws

,residual sugar,total sulfur dioxide,sulphates,alcohol,volatile acidity,quality
count,1599.00,1599.00,1599.00,1599.00,1599.00,1599.00
mean,2.54,46.47,0.66,10.42,0.53,5.64
std,1.41,32.90,0.17,1.07,0.18,0.81
min,0.90,6.00,0.33,8.40,0.12,3.00
25%,1.90,22.00,0.55,9.50,0.39,5.00
50%,2.20,38.00,0.62,10.20,0.52,6.00
75%,2.60,62.00,0.73,11.10,0.64,6.00
max,15.50,289.00,2.00,14.90,1.58,8.00

,residual sugar,total sulfur dioxide,sulphates,alcohol,volatile acidity,quality
count,4898.00,4898.00,4898.00,4898.00,4898.00,4898.00
mean,6.39,138.36,0.49,10.51,0.28,5.88
std,5.07,42.50,0.11,1.23,0.10,0.89
min,0.60,9.00,0.22,8.00,0.08,3.00
25%,1.70,108.00,0.41,9.50,0.21,5.00
50%,5.20,134.00,0.47,10.40,0.26,6.00
75%,9.90,167.00,0.55,11.40,0.32,6.00
max,65.80,440.00,1.08,14.20,1.10,9.00

Using the keys parameter in pd.concat() to seperate red/white wine statistics:

In [30]:
pd.concat([rs, ws], axis=1, 
          keys=['üî¥ Red Wine Statistics', 
                '‚ö™Ô∏è White Wine Statistics'])

      üî¥ Red Wine Statistics                                          \
             residual sugar total sulfur dioxide sulphates  alcohol
count               1599.00              1599.00   1599.00  1599.00
mean                   2.54                46.47      0.66    10.42
std                    1.41                32.90      0.17     1.07
min                    0.90                 6.00      0.33     8.40
25%                    1.90                22.00      0.55     9.50
50%                    2.20                38.00      0.62    10.20
75%                    2.60                62.00      0.73    11.10
max                   15.50               289.00      2.00    14.90

                                ‚ö™Ô∏è White Wine Statistics                       \
      volatile acidity  quality           residual sugar total sulfur dioxide
count          1599.00  1599.00                  4898.00              4898.00
mean              0.53     5.64                     6.39               138.36
std               0.18     0.81                     5.07                42.50
min               0.12     3.00                     0.60                 9.00
25%               0.39     5.00                     1.70               108.00
50%               0.52     6.00                     5.20               134.00
75%               0.64     6.00                     9.90               167.00
max               1.58     8.00                    65.80               440.00


      sulphates  alcohol volatile acidity  quality
count   4898.00  4898.00          4898.00  4898.00
mean       0.49    10.51             0.28     5.88
std        0.11     1.23             0.10     0.89
min        0.22     8.00             0.08     3.00
25%        0.41     9.50             0.21     5.00
50%        0.47    10.40             0.26     6.00
75%        0.55    11.40             0.32     6.00
max        1.08    14.20             1.10     9.00

Again, using the keys parameter in pd.concat() to seperate based on wine quality:

In [32]:
subset_attributes = ['alcohol', 'volatile acidity', 'pH', 'quality']

ls = round(wines[wines['quality_label'] == 'low'][subset_attributes].describe(), 2)
ms = round(wines[wines['quality_label'] == 'medium'][subset_attributes].describe(), 2)
hs = round(wines[wines['quality_label'] == 'high'][subset_attributes].describe(), 2)

pd.concat([ls, ms, hs], axis=1, 
          keys=['üëé Low Quality Wine', 
                'üëå Medium Quality Wine', 
                'üëç High Quality Wine'])

      üëé Low Quality Wine                                     \
                 alcohol volatile acidity       pH  quality
count            2384.00          2384.00  2384.00  2384.00
mean                9.87             0.40     3.21     4.88
std                 0.84             0.19     0.16     0.36
min                 8.00             0.10     2.74     3.00
25%                 9.30             0.26     3.11     5.00
50%                 9.60             0.34     3.20     5.00
75%                10.40             0.50     3.31     5.00
max                14.90             1.58     3.90     5.00

      üëå Medium Quality Wine                                     \
                    alcohol volatile acidity       pH  quality
count               3915.00          3915.00  3915.00  3915.00
mean                  10.81             0.31     3.22     6.28
std                    1.20             0.14     0.16     0.45
min                    8.40             0.08     2.72     6.00
25%                    9.80             0.21     3.11     6.00
50%                   10.80             0.27     3.21     6.00
75%                   11.70             0.36     3.33     7.00
max                   14.20             1.04     4.01     7.00

      üëç High Quality Wine
                  alcohol volatile acidity      pH quality
count              198.00           198.00  198.00  198.00
mean                11.69             0.29    3.23    8.03
std                  1.27             0.12    0.16    0.16
min                  8.50             0.12    2.88    8.00
25%                 11.00             0.21    3.13    8.00
50%                 12.00             0.28    3.23    8.00
75%                 12.60             0.35    3.33    8.00
max                 14.00             0.85    3.72    9.00

https://jovianlin.io/data-visualization-seaborn-part-1/